@import "base/extends";
@import "base/animations";
@import "base/forms";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";

@import "state/Navbar";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#toggleDeviceOrientation {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 70px;
  border-radius: 10px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

#toggleVR {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
}

#toggleDeviceOrientation img {
  width: 34px;
  margin: 8px;
}

#toggleVR img {
  width: 34px;
  margin: 8px;
}

#toggleDeviceOrientation .disable {
  display: none;
}

#toggleDeviceOrientation.enabled .disable {
  display: block;
}

#toggleDeviceOrientation.enabled .enable {
  display: none;
}

